<h1>Listing implementations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Source url</th>
    <th>Live url</th>
    <th>Description</th>
    <th>Source code</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @implementations.each do |implementation| %>
  <tr>
    <td><%= implementation.name %></td>
    <td><%= implementation.source_url %></td>
    <td><%= implementation.live_url %></td>
    <td><%= implementation.description %></td>
    <td><%= implementation.source_code %></td>
    <td><%= implementation.votes.map{ |v| v.value }.sum %></td>
    <td><%= link_to 'Show', implementation %></td>
    <td><%= link_to 'Edit', edit_implementation_path(implementation) %></td>
    <td><%= link_to 'Destroy', implementation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to "Vote Up", polymorphic_path([implementation, :up]) %></td>
    <td><%= link_to 'Vote Down', polymorphic_path([implementation, :down]) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Implementation', new_implementation_path %>
