<%- model_class = Implementation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:votes) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:source_url) %></th>
      <th><%= model_class.human_attribute_name(:live_url) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:source_code) %></th>
      <th><%= model_class.human_attribute_name(:concept_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @implementations.each do |implementation| %>
      <tr>
        <td>
          <% if current_hero %>
            <%= link_to t('.up', :default => t("helpers.links.up")),
                        polymorphic_path([implementation, :up]), :class => 'btn btn-mini' %><br />
            <%= link_to t('.down', :default => t("helpers.links.down")),
                        polymorphic_path([implementation, :down]), :class => 'btn btn-mini' %>
          <% end %>
        </td>
        <td><%= implementation.total_votes %></td>
        <td><%= link_to implementation.name, implementation_path(implementation) %></td>
        <td><%= implementation.source_url %></td>
        <td><%= implementation.live_url %></td>
        <td><%= implementation.description %></td>
        <td><%= implementation.source_code %></td>
        <td><%= implementation.concept_id %></td>
        <td><%=l implementation.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_implementation_path(implementation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      implementation_path(implementation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_implementation_path,
            :class => 'btn btn-primary' %>
